@charset "utf-8";
	/**
		* Description: CSS
		* Version: 1.0.0
		* Last update: 2017/08/20
		* Author: Duc PM <minhducpham.it@gmail.com> - ducpm.com
		*
	    [Let press Ctrl + f and type of paste the key, then press Enter to search the content ] Title
	    Example : You want Import Files => Title is Import Files, or Fonts => Title is Fonts

		* Summary:
		*
			*	Styles for devices max 1200px
			*	Styles for devices max 1200px
			*	Styles for devices max 1024px
			*	Styles for devices max 800px
			*	Styles for devices min 768px
			*	Styles for devices max 767px
			*	Styles for devices max 667px
			*	Styles for devices max 568px
			*	Styles for devices max 480px
			*	Styles for devices max 414px
			*	Styles for devices max 320px
	*/

/*----------------
[Styles for devices min 1200px
*/
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}


/*----------------
[Styles for devices max 991px
*/
@media (max-width: 991px) {
	.box-products .toggle-menu {
		display: block;
	}
	.box-products .box-tabs {
	  position: absolute;
	  left: 0px;
	  right: 0px;
	  top: 50px;
	  margin-right: 0;
	  margin-top: 0;
	  margin-left: 0;
	  padding: 0;
	  display: none;
	}
	.box-products .box-tabs {
	  background: #fff;
	  z-index: 99;
	}
	.box-products .box-tabs li {
	  position: relative;
	  display: block;
	  width: 100%;
	}
	.box-products .box-tabs li>a {
	  padding: 5px 15px;
	  width: 100%;
	  background: none;
	}
	.box-products .box-tabs li.active a {
		background: #ff3366;
		color: #fff;
	}
	.box-products .box-product-content .box-product-adv {
		display: none;
	}
	.box-products .box-product-content .box-product-list {
		margin-left: 0;
	}
}

/*----------------
[Styles for devices max 800px
*/
@media (max-width: 800px) {}

/*----------------
[Styles for devices min 768px
*/
@media (min-width: 768px) {}

/*----------------
[Styles for devices max 767px
*/
@media (max-width: 767px) {
	.container{
		padding-right: 15px;
  	padding-left: 15px;
	}
	#header {
	  height: auto !important;
	  z-index: 790;
	}
	.header_main {
	  transform: translate3d(0, 0, 0);
	  position: fixed;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 95px;
	  z-index: 900;
	  -webkit-transition: height 0.2s, left 0.5s;
	  transition: height 0.2s, left 0.5s;
	}
	.toggle-nav {
	  width: 44px;
	  height: 44px;
	  text-align: center;
	  line-height: 48px;
	  color: #222;
	  cursor: pointer;
	}
	.header_main .toggle-nav {
	  position: absolute;
	  z-index: 5;
	  top: 0;
	  left: 0;
	}
	.header_main .toggle-nav.has-open:after {
	  content: "";
	  display: block;
	  position: fixed;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: rgba(255, 255, 255, 0.5);
	  z-index: 777;
	}
	.header_main .toggle-nav> i {
	  font-size: 18px;
	}
	.toggle-search {
	  width: 44px;
	  height: 44px;
	  text-align: center;
	  line-height: 44px;
	  color: #222;
	  cursor: pointer;
	}
	.header_main .toggle-search {
	  display: none !important;
	  position: absolute;
	  z-index: 5;
	  top: 0;
	  right: 50px;
	}
	.header_main .logo-wrapper {
	  position: relative;
	  z-index: 2;
	  padding: 7px 100px;
	  margin: 0;
	  float: none;
	  width: auto;
	  background-color: #fff;
	  text-align: center;
	}
	.header_main .logo-wrapper img {
		margin: 0 auto;
	}
	.header_main .search-area {
	  position: relative;
	  z-index: 1;
	  float: none;
	  width: auto;
	  padding: 0 8px 0 8px;
	  opacity: 1;
	  transition-property: opacity;
	  transition-duration: 0.2s;
	  background-color: #fff;
	}
	.header_main .search-box_category {
	  float: left;
	  width: 161px;
	  border-right: 1px solid #d2d2d2;
	  display: none;
	}
	.header_main .search-area .search-box {
	  border-width: 1px;
	  height: 31px;
	  border-color: #EFEFEF;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  background-color: #f3f3f3;
	}
	.header_main .search-area .search-box_input {
	  position: static;
	  left: auto;
	  right: auto;
	  bottom: auto;
	  top: auto;
	  float: none;
	  padding: 1px 0;
	}
	.header_main .search-area .search-box_input input[type=text] {
	  height: 27px;
	  padding: 3px 65px 3px 15px;
	  font-size: 13px;
	  background-color: #f3f3f3;
	}
	.header_main .header-cart-wrapper {
	  position: absolute;
	  z-index: 5;
	  float: none;
	  top: 2px;
	  right: 4px;
	  padding: 0;
	  width: auto;
	  height: 40px;
	}
	.header_main .header-cart-wrapper .header-cart {
	  margin: 0;
	  padding: 0;
	}
	.header_main .nav-cart> a {
	  padding: 5px 3px;
	  display: block;
	  cursor: pointer;
	}
	.header_main .nav-cart> a i {
	  font-size: 18px;
	}
	header .menu {
		background-color: #fff;
		margin: 0;
		height: auto !important;
	  clear: both;
	  float: none;
	  display: block;
	  position: fixed !important;
	  left: -100% !important;
	  width: 80%;
	  top: 0;
	  bottom: 0;
	  z-index: 9999;
	  padding-top: 20px;
	  padding-bottom: 20px;
	  overflow-y: auto !important;
	  opacity: 0;
	  visibility: hidden;
	  -webkit-transition: 0.3s;
	  -o-transition: 0.3s;
	  transition: 0.3s;
	  right: auto !important;
	}
	#header .menu {
	  position: relative;
	  padding: 0;
	  margin: 0;
	}
	header .menu .navbar-nav {
		margin: 0;
	}
	header .menu.has-open {		
		visibility: visible;
		opacity: 1;
		left: 0 !important;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		overflow-y: auto !important;
	}
	.menu ul {
	  padding: 10px;
	  margin: 0;
	}
	.navbar-nav>li {
	  float: none;
	}
	.menu .navbar-nav>li>a {
    border-bottom: 1px solid #e1e1e1;
	  color: #333;
	  text-transform: none;
	  padding: 0;
	  background: transparent;
	  line-height: 36px;
	}
	.menu .navbar-nav > li .submenu li.parent > a:after {
		display: none;
	}
	.menu .navbar-nav>li> a:hover, .menu .navbar-nav>li>a.active {
	  background: transparent;
	  color: #333;
	  outline: none;
	}
	.menu li.parent .plus {
		color: #000;
		height: 36px;
		line-height: 36px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 35px;
		z-index: 9;
		cursor: pointer;
	}
	.menu li.parent .plus:before {
	  content: "\f067";
	  font-family: 'FontAwesome'!important;
	}
	.menu li.parent .plus.open:before {
	  content: "\f068";
	}
	.menu .navbar-nav .submenu {
	  background: transparent;
	  box-shadow: none;
	  display: none;
	  left: 0px;
	  opacity: 1;
	  padding: 0 0 0 10px;
	  position: relative;
	  top: -10px;
	  visibility: visible;
	  width: 100%;
	}
	.menu .navbar-nav li:hover > .submenu {
	  -webkit-transition: inherit;
	  transition: inherit;
	  -webkit-transform: translate(0, 10px);
	  -ms-transform: translate(0, 10px);
	  -o-transform: translate(0, 10px);
	  transform: translate(0, 10px);
	}
	.menu .navbar-nav .submenu .submenu {
	  left: 0;
	  top: -10px;
	}
}

/*----------------
[Styles for devices max 667px
*/
@media (max-width: 667px) {}

/*----------------
[Styles for devices max 568px
*/
@media (max-width: 568px) {}

/*----------------
[Styles for devices max 480px
*/
@media (max-width: 480px) {}

/*----------------
[Styles for devices max 414px
*/
@media (max-width: 414px) {}

/*----------------
[Styles for devices max 375px
*/
@media (max-width: 375px) {}

/*----------------
[Styles for devices max 320px
*/
@media (max-width: 320px) {}